.basic {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    justify-content: center;
    text-align: center !important;

}

.container {
    margin: 0 20%;
    display: flex;
    }

.card-title{
        text-align: center;
    }

.card{
    margin-top: 5%;
    margin-right: 60px;
}

.card2{
    margin: 3% 35%;
    justify-content: center;
    align-items: center;
    }

    
.card3 {
    
    max-width: 700px;
    }

    .card-title2{
        text-align: center;
    }
    body {
        margin-bottom: 100px;
      }
      img {
        max-width: 100%;
        height: auto;
      }