<div class="basic" style="position: relative;">
    <img [src]="imagenUrl" [ngStyle]="{'width': '50px', 'position': 'absolute', 'left': '0'}">    <h2 tyle="margin-left: 40px;"> WACHITA</h2>
  </div>
  <br>
  <br>
  <br>
 <app-navbar></app-navbar>
  <div class="container" mb-2>
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/img/wacha.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Registro</h2>
            <p class="card-text">Registra aqui tu <strong>vaquita</strong> </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Registro</li>
            <li class="list-group-item">Traslado</li>
            
          </ul>
          <div class="card-body">
            <button type="button" class="btn btn-outline-primary mx-2" routerLink="/agregarw">Ingresar</button>
            <button type="button" class="btn btn-outline-info">Retornar</button>
          </div>
          
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/img/nac_wacha.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Maternidad</h2>
            <p class="card-text">Haz el seguimiento de la vaca<strong> preñada</strong></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Mes</li>
            <li class="list-group-item">Alimentacion</li>
            
          </ul>
          <div class="card-body">
              <button type="button" class="btn btn-outline-primary mx-2" routerLink="/maternidad">Ingresar</button>
              <button type="button" class="btn btn-outline-info" routerLink="">Retornar</button>
          </div>
          
        </div>
  
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/img/inyecciones_vacuna.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Control <strong>Wachita</strong> Sana</h2>
            <p class="card-text">Registro de vacunas y otros medicamentos</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Vacunas</li>
            <li class="list-group-item">Aislamiento</li>
            
          </ul>
          <div class="card-body">
              <button type="button" class="btn btn-outline-primary mx-2" routerLink="/seguimienton">Ingresar</button>
              <button type="button" class="btn btn-outline-info">Retornar</button>
          </div>
          
        </div>
        
     <br>   
     <br>   
     <br>   
  </div>
 <!-- <app-mboard></app-mboard>-->
  <br>
  <br>
  <p></p>
  
  