.container {
    margin: 0 20%;
    display: flex;
    }
.basic {

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #1976d2;
        color: white;
        font-weight: 600;
        justify-content: center;
        text-align: center !important;
    
    }
    .sort-icon {
        height: 20px;
        width: 20px;
        cursor: pointer;
      }
      