<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logo 1.png" alt="chakuy" width="55" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" a routerLink="/principal">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/agregarw">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listar">Listar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Seguimiento Vacunas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Vacunas</a></li>
              <li><a class="dropdown-item" href="#">Aislamiento</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/visual">Visual</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>